.navbar {
  background-color: #e6e6e6;
  color: #333;
  padding: 20px 0;
  text-align: center;
  min-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menuItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menuItems li {
  display: inline;
}

.menuItems a {
  color: #333;
  text-decoration: none;
}

.menuItems a:hover {
  text-decoration: underline;
}

.menuToggleCheckbox {
  display: none;
}

.menuIcon {
  display: none;
}

@media (max-width: 768px) {
  .menuIcon {
      display: block;
      font-size: 24px;
      cursor: pointer;
      color: #333;
      margin-left: auto;
  }

  .menuItems {
      display: none;
      flex-direction: column;
      text-align: center;
  }

  .menuItems li {
      display: block;
      margin: 10px 0;
  }

  .menuToggleCheckbox:checked ~ .menuItems {
      display: flex;
  }
}
